@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;477;500;600;700;800&display=swap');

.container_Body {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: 'Sora', sans-serif;
  background: #ecf0f1
}

.body_Login {
  top: 20%;
  position: relative;
}

.card_login {
  background: #138a84 ;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.3);
}

.icon_Fire {
  font-size: 58px;
  color: #F18C8E;
  filter: drop-shadow(3px 2px 2px rgba(0,0,0,0.3));
}

.text_login {
  color: #34495e !important;
  font-size: 46px !important;
}

.ant-form-item-label > label {
  color: #EFEEEE
}

.button-Form {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #EFEEEE;
  box-shadow: none;
}


button:focus {
  outline:0;
}