.chat-container {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100%;
  /* overflow: hidden; */
}

.card-chat {
  background-color: #fff;
  box-shadow: 2px 3px 3px 0px #88888859;
}

.header-chat {
  width: 100%;
  background-color: #273c75;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
}

.body-chat{
  padding: 40px;
  height: 600px;
  overflow-y: auto;
  background-color: #dcdde1;
}

.header-chat > .ant-typography {
  color: #fff !important;
}

.footer-chat {
  background-color: #718093;
  width: 100%;
  bottom: 0;
  padding: 20px;
}

.body-chat::-webkit-scrollbar-track{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #fff;
}

.body-chat::-webkit-scrollbar{
  width: 6px;
  background-color: #fff;
}

.body-chat::-webkit-scrollbar-thumb{
  background-color: #3d3d3d93;
}

/* .container-chat {

} */

ul {
  list-style: none;
  padding: 0;
}

.container-massage {
  display: flex;
  flex-direction: column;
}

.li_bot {
  align-items: flex-start;
  position: relative;
  display: flex;
  flex-direction: column;
}

.li_user {
  align-items: flex-end;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bot_name {
  border-radius: 0px 7px 7px 7px;
  background-color:#86BB71;
  margin-bottom: 20px;
  min-width: 10%;
  max-width: 70%;
}

.bot-massage {
  padding: 10px;
  position: relative;
}
.bot-massage::before {
  content: '';
  float:left;
  left: -13px;
  top: 0px;
	position:absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 20px 20px 0;
  border-color: transparent #86BB71 transparent transparent;
}

.user_name {
  border-radius: 7px 7px 7px 7px;
  background-color:#94C2ED;
  margin-bottom: 20px;
  min-width: 10%;
  max-width: 70%;
}

.user-massage {
  padding: 10px;
  position: relative;
}
.user-massage::before {
  content: '';
  float:left;
  right: -13px;
  top: 0px;
	position:absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0 20px 20px;
  border-color: transparent transparent transparent #94C2ED;
}

.header-chat-name {
  font-weight: 600;
  font-size: 16px;
}

.header-chat-name-user {
  text-align: right;
  font-weight: 600;
  font-size: 16px;
}